<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Node Starter</title>
    <%- include("partials/imports.ejs") %>
</head>
<body>

    <%- include("partials/navbar.ejs") %>
    <section class="pagebody">

    <h1>MAP</h1>
</section>
</body>
</html>
