<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Node Starter</title>
    <%- include("partials/imports.ejs") %>
</head>
<body>

    <%- include("partials/navbar.ejs") %>
    <section class="pagebody">

    <h1>Profile for <%= username %></h1>

    <h2>My Reviews</h2>
    <p>currently under construction</p>

    <p>
        <form action="/logout" method="POST">
          <button>Logout <%= username %></button>
        </form>
    </p>
</section>
</body>
</html>
