.pagebody {
  margin: 3em;
}

.nook_photos {
  max-width: 90%;
  max-height: 20%;
}

input[type="range"] {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

datalist {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: -1em;
}

option {
  width: 2ex;
  display: flex;
  justify-content: center;
  height: 42px;
  align-items: end;
  height: 4ex;
  background-position-y: -15px;
  background-position-x: center;
  z-index: -1;
}

#delete {
  background-color: lightpink;
  color:black;
}

.likebutton {
  border:none;
  background: transparent;
}

.review {
  list-style-type: none;
  display: grid;
  margin-top:20;
  padding-left: 0;
  border: 1px solid orangered;
  width: 50%;
}

/* li:not(:last-child){
  border-bottom: 1px solid orangered;
} */

.box {
  width: 800px;
  height: 100px;
  border: 1px solid black;
  padding: 10px;
  margin: 0px;
  list-style-type: none;
}

.nookThumb {
  height:12em;
  overflow:hidden;
  object-fit:cover;
}

#loginPage {
  max-width:50em;
}

.carouselPhotos {
  height:30em;
  object-fit:cover;
}

.carousel {
  max-width:50em;
}

.reviewlist {
  max-width:50em;
}